.gradle
.idea
*.iml
*.iws
*.ipr
/local.properties
.DS_Store
Thumbs.db
/build
/bin
/gen

/proguard

app/src/main/assets/crashlytics-build.properties
app/src/main/res/values/com_crashlytics_export_strings.xml

app/manifest-merger-release-report.txt
gradle.properties
app/mapping.txt
app/seeds.txt
app/unused.txt
app/class_files.txt